
@media (min-width: 576px) { 

    .counter {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
    .social,.split {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
    
    }
    
 }


@media (min-width: 768px) {
    h1,h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: white;
        width: 40%;
        margin-left: 100px;
    }
   
    h4 {
        font-size: 4rem;
        font-weight: 700;
        color: #377DFF;
    }
    span {
        font-size: 1rem;
        color: #45b5f5;
        background-color: #202329;
        border-radius: 5px;
        padding: 5px 10px;
        margin-left: 100px;
    }
    p {
        color: #D1E0FB;
        margin-left: 100px;
        width: 40%;
        font-size: 1.2rem;
        line-height: 1.2;
    }
    .main-button {
        margin: 1rem 0;
        margin-left: 100px;
        
    }
  
    .test1 {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    .bg {
        padding: 1rem 0;
        background-color: #377DFF;
        border-bottom: 5px solid ;
        border-radius: 0px 100px 0px 100px;
    }
    .bg2 {
        padding: 2.5rem;
        background-color: #377DFF;
        border-bottom: 5px solid #377DFF;
        border-radius: 0px 0px 100px 100px;
        right: 10%;
    
        width: 60%;
    
    }
    .bg3 {
        padding: 1rem 0;
        background-color: #377DFF;
        border: 5px solid #377DFF;
        border-radius: 100px 0px 100px 0px;
        
    }
    .bg3,.bg2,.bg ,.partners-div{
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 30px 25px 16px 19px rgba(0,0,0,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 30px 25px 16px 19px rgba(0,0,0,0);
    }
    .icons {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
        width: 60%;
        position: absolute;
        top: 30px;
        right: -50PX;

    
    }
    .icons div {
        padding: 1.5rem;
        background-color: #2D2F33;
        width: 40%;
        margin: 1rem;
       
    }
    .icons img {
        max-width: 300px;
        width: 100%;
    }
    /* Features */
    .features img {
        position: absolute;
        top: 30px;
        right: 50px;
        max-width: 300px;
        width: 100%;
        z-index: 55;
        
    }
    .notebook {
        position: absolute;
        top: 220px;
        left: 100px;
    }
    
   
    .counter  p {
    color: white;
    padding: 0;
    margin: 5px 0;
}
.partners-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
}
.partners-div  h3 {
    text-align: center;
    width: 100%;
    margin-left: 0;
}
.performnac h3{
    text-align: right;

}
.performnac img {
        
    position: absolute;
    top: 30px;
    left: 0px;
    max-width: 350px;
    width: 100%;
}
.text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-right: 100px;
}
.text div {
    margin-left: 15px;
    text-align: center;
    border-radius: 0px 60px 0px 60px;
    width: 22%;
    padding: 2rem 1rem;
    color: #bcc1c7;
    background: #2D2F33;
    background: -moz-linear-gradient(-45deg, #2D2F33 0%, #2C2E32 27%, #3F454D 100%);
    background: -webkit-linear-gradient(-45deg, #2D2F33 0%, #2C2E32 27%, #3F454D 100%);
    background: linear-gradient(135deg, #2D2F33 0%, #2C2E32 27%, #3F454D 100%);
}


    

 }


@media (min-width: 992px) { 

    h1,h3 {
        font-size: 2.2rem;
    }
    section {
        position: relative;
        padding: 5%;
        margin: 3rem 0;
    }
  
   
      /* HEADER */
      .nav-links {
        display: flex;
        width: 60%;
    
    }
    .burgerbar {
       display: none;
    }

    .icons {
        width: 50%;
        right: 0PX;
    }
    .features img {
        position: absolute;
        top: 30px;
        right: 50px;
        max-width: 400px;
        width: 100%;
    }
    .performnac img {
        
        position: absolute;
        top: 30px;
        left: 50px;
        width: 100%;
    }
    
    .counter {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    }
    .text div {
        width: 18%;

    }
 
}


@media (min-width: 1200px) { 

    section {
        position: relative;
        padding: 5%;
        margin: 2rem 0;
    }
    .nav-links {
        display: flex;
        width: 45%;
    
    }
    
    .icons {
        width: 50%;
    }
    .performnac img {
        
        left: 150px;
    }
    .text div {
        width: 15%;
    }

}


@media (min-width: 1400px) { 
    section {
        position: relative;
        padding: 5%;
        margin: 1rem 0;
    }
    .performnac img {
        
        left: 250px;
    }
 }
 @media (min-width: 1680px) {
    .performnac img {
        
        left: 350px;
    }
 }