/* Defaults  */
.container {
    margin-inline: auto;
}
img {
    width: 100%;
}
section {
    padding: 4rem 0;
}
h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}
h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
    color: white;
    

}
/* Header  */
header {
    background-image: url(../img/header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    position: relative;
}
.logo {
    font-size: 2rem;
}
nav .container,nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav {
    padding: 2rem 0;
    background-color: #f1f6f9d8;
}
nav ul {
    width: 40%;
}
nav a {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}
.main-text {

    color: white;
    width: 50%;
    margin: auto;
    padding-top: 13%;
}
/* ----- */
.split {
    text-align: center;
}
.split img {
    max-width:90px ;
    width: 100%;
    margin-bottom: 1rem;
    
}
.icons {
    margin-top: -10rem;
}
.icons a {
    color: white;
}
.icons div {
    padding: 10rem 0 3rem;
    margin-bottom: 2rem;
    background-color: #F3F3F3;
    border-radius: 4px;
    box-shadow: inset 0px 0px 25px -1px #BFBFBF;
    -moz-transform: translate(1px, 0px) skew(-4deg, 0deg);
    -webkit-transform: translate(1px, 0px) skew(-4deg, 0deg);
    -o-transform: translate(1px, 0px) skew(-4deg, 0deg);
    -ms-transform: translate(1px, 0px) skew(-4deg, 0deg);
    transform: translate(1px, 0px) skew(-4deg, 0deg);
}
.icons div:first-child{
    background-image: url(../img/11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.icons div:nth-child(2){
    background-image: url(../img/12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.icons div:nth-child(3){
    background-image: url(../img/13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.icons div:nth-child(4){
    background-image: url(../img/14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


