/* Defaults  */
.container {
    margin-inline: auto;
}
/* Header  */
header {
    background-image: url(../img/header1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
}
.logo {
    font-size: 2rem;
}
nav .container,nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
nav {
    padding: 2rem 0;
    background-color: #f1f6f9d8;
}
nav ul {
    width: 40%;
}
nav a {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
}
/* ----- */

